# Lab 03 - Pandas I

Name: Jimmy Pronchick  
Class: CSCI349 2023SP - Intro to Data Mining  
Instructor: Brian King

In [373]:
import sys
import numpy as np
import pandas as pd

1)[P]Report the Python, Numpy and Pandas version numbers.

In [2]:
sys.version

'3.9.16 (main, Jan 11 2023, 16:16:36) [MSC v.1916 64 bit (AMD64)]'

In [3]:
np.__version__

'1.23.5'

In [4]:
pd.__version__

'1.5.2'

2)[P] Now, show the result of pd.show_versions(). Write a comment in the cell about what this shows.

In [6]:
#shows the version of all the libraries installed in this env
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 8dab54d6573f7186ff0c3b6364d5e4dd635ff3e7
python           : 3.9.16.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22000
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 11, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : English_United States.1252

pandas           : 1.5.2
numpy            : 1.23.5
pytz             : 2022.7
dateutil         : 2.8.2
setuptools       : 65.6.3
pip              : 22.3.1
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.9.1
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.7.0
pandas_datareader: None
bs4              : 4.11.1
bottleneck       : 1.3.5
brotli           :
fastparquet      : None
fsspec           : None
gcsfs            : None
matplotlib       : 3.6.2
numba            : None
numexpr          : 2.8.4
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.9.3
snappy           : None
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None
tzdata           : None

3)[M] Explain the relationship between numpy and pandas. How are they tied together? How are they different? What core functionality does pandas add to numpy?

" pandas is designed for working with tabular or heterogeneous data. NumPy, by contrast, is best suited for working with homogeneously typed numerical array data."

https://www.oreilly.com/library/view/python-for-data/9781098104023/ch05.html

4)[M] Compare and contrast Series and DataFrame.

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). A DataFrame is two-dimensional and can hold multiple Series. A Series must contain all the same type of data while a DataFrame can have different types.

5)[M] What are the data typesthat can be used to create a Seriesobject in pandas?

Python list, dictionary, one dimensional ndarray. Must be one dimensional.

6)[M] What are the data structures that can be used to create a DataFrameobject in pandas?

A Series, python dictionary (of multiple Series possibly), a scalar, ndarray

7)[M] When creating a Seriesobject, what role does the indexparameter play? Does the index always need to be specified? If not, what happens?

If the data in the Series object is an ndarray, the index needs to match the length of the data parameter. If the index is not specified it will default to the range of the data.

8)[P] Create a numpy array of 10 random 8-bit integers in the range [10,20) using numpy's randintfunction. Print the type of x, and show x.

In [18]:
x = np.random.randint(10,20,10, dtype=np.int8)
print(type(x))
x

<class 'numpy.ndarray'>

array([13, 15, 16, 13, 12, 19, 17, 13, 19, 13], dtype=int8)

Then in a subsequent cell, wrap x in a pandas Seriesobject called x2, with an index of 0, 10, 20, 30, ..., 90. Show the type and the contents of x2.

In [22]:
sIndex = [0,10,20,30,40,50,60,70,80,90]
x2 = pd.Series(x, index=sIndex)
print(type(x2))
x2

<class 'pandas.core.series.Series'>

0     13
10    15
20    16
30    13
40    12
50    19
60    17
70    13
80    19
90    13
dtype: int8

9)[P] Create a DataFrameobject called df_xthat has x2 as the first variablewith the name of "x2", and an additional variablenamed "x3"that is 10 random floating point numbersin the range [100,200). Show the types of your dataframe using print(df_x.dtypes), and show the contents of your dataframe. Your index should remain as 0, 10, 20, ... , 90.

In [31]:
x3 = np.random.uniform(100,200,10)
df_x = pd.DataFrame({"x2":x2,"x3":pd.Series(x3, index=sIndex)})
print(df_x.dtypes)
df_x

x2       int8
x3    float64
dtype: object

    x2          x3
0   13  122.538224
10  15  126.890922
20  16  166.014771
30  13  185.775025
40  12  127.975981
50  19  127.888835
60  17  143.670597
70  13  156.469973
80  19  116.189114
90  13  163.507490

10)[M] Consider the copy()method of a DataFrameobject. What is this method for? Explain the difference between a shallow copy and a deep copy of a DataFrame? Why would I use a shallow copy?

DataFrame.copy() creates a duplicate Df with the same data and indices. A deep copy of a DataFrame will stay the same even when the original is modified, and the original will not reflect changes made to a deep copy. A shallow copy is the opposite, when the original changes the shallow changes and vice versa. A shallow copy is a less expensive operation, so it would make sense to only use a deep copy when you need the Dfs to change distinctly.

In [32]:
days = ["Mon","Tue","Wed","Thu","Fri"]
scores_1 = [9.5, 8.75, 8, 10, 7.75]
scores_2 = [9, 8, 10, 8.75, 7.25]

11)[P] Convert scores_1and scores_2into two Seriesobjects. Use daysas your index.  You should name each Series object using the name parameter as "week_1", and "week_2". Do not show the result, only store the variables.

In [37]:
scores_1 = pd.Series(scores_1,index=days, name="week_1")
scores_2 = pd.Series(scores_2,index=days, name="week_2")

12)[P] Create a pandas DataFramecalled scoresthat represents the above data. Show your data frame. Your results should be arranged as shown below:

In [100]:
scores = (pd.DataFrame({"Week 1": scores_1, "Week 2":scores_2})).T
scores

        Mon   Tue   Wed    Thu   Fri
Week 1  9.5  8.75   8.0  10.00  7.75
Week 2  9.0  8.00  10.0   8.75  7.25

13)[P] Use the pd.concatfunctionto add the following data to the end of scores. [8.5,8,9.75,9,8.25]. The row label on the new week is "week_3". Show your updated data frame. It should look like the following:

In [101]:
next_week  = pd.Series([8.5,8,9.75,9,8.25], index=days,name="Week 3")

scores = pd.concat([scores, pd.DataFrame({"Week 3":next_week}).T])
scores

        Mon   Tue    Wed    Thu   Fri
Week 1  9.5  8.75   8.00  10.00  7.75
Week 2  9.0  8.00  10.00   8.75  7.25
Week 3  8.5  8.00   9.75   9.00  8.25

14)[M] numpyand pandas have an ENORMOUS number of ways for selecting data. At first, the flexibility will confuse and drive you nuts. In time, it becomes amazing and intuitive (with less nuts.) From their 10 minute tutorial:Write yourself a quick one sentence reference for each access method listed above, with one example for each using the scoresDataFrame.

In [102]:
# .at: Access a single value for a row/column label pair. SINGLE VALUE. label means use row and col names 
scores.at["Week 1","Tue"]

8.75

In [103]:
# .iat: Access a single value for a row/column pair by integer position. at but index instead of names
scores.iat[0,1]

8.75

In [104]:
# .loc: Access a group of rows and columns by label(s). .at but whole row or col
scores.loc["Week 2",:]

Mon     9.00
Tue     8.00
Wed    10.00
Thu     8.75
Fri     7.25
Name: Week 2, dtype: float64

In [105]:
# .iloc: Access a group of rows and columns by integer position(s).
scores.iloc[2]

Mon    8.50
Tue    8.00
Wed    9.75
Thu    9.00
Fri    8.25
Name: Week 3, dtype: float64

In [67]:
scores.iloc[0]

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: Week 1, dtype: float64

In [68]:
scores.iloc[0:1]

        Mon   Tue  Wed   Thu   Fri
Week 1  9.5  8.75  8.0  10.0  7.75

In [69]:
scores.iloc[:,0:1]

        Mon
Week 1  9.5
Week 2  9.0

In [70]:
scores[0:1]

        Mon   Tue  Wed   Thu   Fri
Week 1  9.5  8.75  8.0  10.0  7.75

In [72]:
scores.Mon

Week 1    9.5
Week 2    9.0
Name: Mon, dtype: float64

In [73]:
scores["Mon"]

Week 1    9.5
Week 2    9.0
Name: Mon, dtype: float64

In [74]:
scores.loc[:,"Mon"]

Week 1    9.5
Week 2    9.0
Name: Mon, dtype: float64

In [75]:
scores.loc[:,["Mon"]]

        Mon
Week 1  9.5
Week 2  9.0

for reference: very important

Be careful, because many of these may appear to return the same result, but the actual pandas type represented is entirelydifferent. (For example, scores.iloc[0]returns a Series. scores.iloc[0:1]returns a DataFrame.)

15)[P] Show at least twodifferent techniques to select scores for Tuesday using the string"Tue"as a Series

In [109]:
scores["Tue"]

Week 1    8.75
Week 2    8.00
Week 3    8.00
Name: Tue, dtype: float64

In [108]:
scores.loc[:,"Tue"]

Week 1    8.75
Week 2    8.00
Week 3    8.00
Name: Tue, dtype: float64

16)[P] Show how to retrieve the scores for Tuesday using the named attribute Tue

In [110]:
scores.Tue

Week 1    8.75
Week 2    8.00
Week 3    8.00
Name: Tue, dtype: float64

17)[P] Show at least three techniques to select scores for Wednesdayusing an integer.The return type can be either a DataFrameor a Series.

In [111]:
scores.iloc[:,2]

Week 1     8.00
Week 2    10.00
Week 3     9.75
Name: Wed, dtype: float64

In [112]:
scores.iloc[:,2:3]

          Wed
Week 1   8.00
Week 2  10.00
Week 3   9.75

In [370]:
scores.iloc[[0,1,2],[2]]

          Wed
Week 1   8.00
Week 2  10.00
Week 3   9.75

18)[P] Select the data for the first week using the string "week_1". Your result should return a Seriesrepresenting the scores for week 1.

In [152]:
scores.loc["Week 1"]

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: Week 1, dtype: float64

19)[P] Select the data for the first week using the string "week_1". Your result should return a DataFrame, representing the subset of the scoresDataFramefor week 1 only.

In [156]:
scores.loc[:"Week 1"]

        Mon   Tue  Wed   Thu   Fri
Week 1  9.5  8.75  8.0  10.0  7.75

20)[P] Select the data for the first week using a slice

In [158]:
scores[:1]

        Mon   Tue  Wed   Thu   Fri
Week 1  9.5  8.75  8.0  10.0  7.75

21)[P] Use .ilocto select Monday andFriday of the first andthird week.Your result should be a DataFramethat looksas follows:

In [160]:
scores.iloc[::2,::4]

        Mon   Fri
Week 1  9.5  7.75
Week 3  8.5  8.25

22)[P] Repeat the previous exercise, but usethe.locselector. You should have the same result.

In [162]:
scores.loc["Week 1":"Week 3":2, "Mon":"Fri":4]

        Mon   Fri
Week 1  9.5  7.75
Week 3  8.5  8.25

23)[P] Report the mean score for each day

In [178]:
scores.mean(0)

Mon    9.00
Tue    8.25
Wed    9.25
Thu    9.25
Fri    7.75
dtype: float64

24)[P] Report the mean score for each week

In [175]:
scores.mean(1)

Week 1    8.8
Week 2    8.6
Week 3    8.7
dtype: float64

25)[P] For each week, report how much each day's score for that week differed from the mean for the week.Your result should be one DataFramethat looks like this:

In [364]:
scores.apply(lambda x: x - scores.mean(1))

        Mon   Tue   Wed   Thu   Fri
Week 1  0.7 -0.05 -0.80  1.20 -1.05
Week 2  0.4 -0.60  1.40  0.15 -1.35
Week 3 -0.2 -0.70  1.05  0.30 -0.45

26)[P] Report the maximum score for each week. Your result should be a Series.

In [181]:
scores.max(1)

Week 1    10.00
Week 2    10.00
Week 3     9.75
dtype: float64

27)[P] For each week, report which day had the largest score. (Again, you should be reporting your result as a Series.And hint, idxmax()is pretty cool.)

In [223]:
scores.idxmax(1)

Week 1    Thu
Week 2    Wed
Week 3    Wed
dtype: object

28)[P] Report the week that had the highest total quiz score. Your answer should only be the name of the week from the index.

In [228]:
scores.sum(1).idxmax()

'Week 1'

29)[P] How many days over the entire dataset had a score >= 9.25?

In [365]:
# .count excludes Nan, .size includes nan
scores.where(scores>=9.25).count().sum()

4

30)[P] Report the number of days of each week that had a score >= 9.25. Your answer should be a Seriesthat looks like the following:

In [243]:
scores.where(scores>=9.25).count(1)

Week 1    2
Week 2    1
Week 3    1
dtype: int64

31)[P] Report the average score for each week with the lowest score for each week dropped.(REMEMBER NEVER hard code magic numbers. Your solution should work for any number of weeks, and any number of days per week!)

In [348]:
cond = scores.T>scores.T.min()
print(cond.T)
scores.where(cond.T).mean(1)

         Mon    Tue   Wed   Thu    Fri
Week 1  True   True  True  True  False
Week 2  True   True  True  True  False
Week 3  True  False  True  True   True

Week 1    9.0625
Week 2    8.9375
Week 3    8.8750
dtype: float64

32)[P] Report the scores rescaled to fall between 0 and 100, instead of 0 to 10 as they are now.

In [264]:
scores*10

         Mon   Tue    Wed    Thu   Fri
Week 1  95.0  87.5   80.0  100.0  77.5
Week 2  90.0  80.0  100.0   87.5  72.5
Week 3  85.0  80.0   97.5   90.0  82.5

33)[P] How would you convert your scores DataFrameto a Numpy array? Demonstrate it by showing the type of your conversion using Python's typefunction.

In [267]:
scoresArray = np.asarray(scores)
type(scoresArray)

numpy.ndarray